@use "./base.scss";

// put your custom CSS here!

.image-grid {
  display: grid;
  margin-block-start: var(--img-grid-gap);
  margin-block-end: var(--img-grid-gap);
  grid-column-gap: var(--img-grid-gap);
  grid-row-gap: 0;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));

  & > br {
    display: none;
  }
}

.image-grid > a,
.image-grid > img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: var(--image-grid-fit);
  background-color: var(--image-grid-background);
  align-self: stretch;
}
